body {
font-family: verdana,sans-serif;
color: #444;
margin: 0pt;
font-size: 11px;
background: #D0D9E0 url(../image/bg-header.png) repeat-x;
}
#header {
display: block;
height: 97px;
}
#contents {
margin: 0pt auto;
padding: 0;
width: 960px;
}
.home-bottom {
height: auto;
}
.home-bottom h2 {
margin: 5px;
color: #8598A4;
font-size: 16px;
font-weight: bold;
line-height: 16px;
}
.home-bottom ul {
border-top: 1px solid #E8E8E8;
list-style: none;
margin: 0;
padding: 0;
}
.home-bottom ul li {
padding: 5px 5px 8px 5px;
height: 24px;
margin: 0;
border: 0;
line-height: 14px;
border-bottom: 1px solid #E8E8E8;
}
.home-bottom ul li a {
text-decoration: none;
color: #444;
}
.home-bottom ul li span {
font-size: 10px;
display: block;
color: #999999;
}
.home-bottom ul li a:hover {
text-decoration: underline;
}
.home-bottom ul li:hover {
background: #F7F7F7;
}

#footer {
width: 960px;
margin: 0pt auto;
}
.anti-content {
background: #FFFFFF;
}
#chart_div {
margin: 0px auto;
width: 620px;
float: left;
}
#footer .boxONE {
background: url(../image/footer-bar.png) no-repeat;
padding: 40px 0 0 0;
}
.fbox {
margin: 2px 8px 0 8px;
padding: 0px;
float: left;
width: 200px;
border-top: 4px solid #E8E8E8;
border-bottom: 3px solid #E8E8E8;
border-right: 1px solid #E8E8E8;
border-left: 1px solid #E8E8E8;
}
.fbox .rss,.fbox .addthis, .fbox .twitter {
font-weight: bold;
line-height: 14px;
height: 14px;
padding-left: 20px;
}
.btn {
background: url(../image/button/btn_subscribe.png) no-repeat;
border: 0;
width: 84px;
height: 24px;
cursor: pointer;
}
.fbox .addthis {
background: url(../image/addthis.png) no-repeat left;
}
.fbox .rss {
background: url(../image/rss.png) no-repeat left;
}
.fbox .twitter {
background: url(../image/twitter.png) no-repeat left;
}

.fbox h2 {
margin: 5px;
color: #8598A4;
font-size: 16px;
font-weight: bold;
line-height: 16px;
}
.fbox ul {
border-top: 1px solid #E8E8E8;
list-style: none;
margin: 0;
padding: 0;
}
.fbox ul li {
padding: 5px;
margin: 0;
border: 0;
border-bottom: 1px solid #E8E8E8;
}
.fbox ul li a {
text-decoration: none;
color: #444;
}
.fbox ul li span {
font-size: 10px;
display: block;
color: #999999;
}
.fbox ul li a:hover {
text-decoration: underline;
}
.fbox ul li:hover {
background: #F7F7F7;
}
#f_search .button {
border: 0;
width: 38px;
height: 28px;
cursor: pointer;
background: url(../image/search-button.jpg) no-repeat ;
}
#f_search .button:hover {
background: url(../image/search-button.jpg) no-repeat left -28px;
}
.boxSUB {
width: 960px;
margin: 0pt auto;
background: url(../image/footer-bar-sub.png) no-repeat;
height: 13px;
margin-bottom: 9px;
clear: both;
}
.boxTOP {
padding: 20px 0 0 10px;
background: url(../image/footer-bar-top.png) no-repeat;
line-height: 20px;
}
.boxTOP a {
color: #666666;
}
.search-box {
border: 0;
float: left;
margin: 10px 0 0 40px;
background: url(../image/bg-search-box-text.gif);
color: #666666;
width: 250px;
outline: 0;
}
.cfix {
clear: both;
}

.sub-content {
height: 45px;
background: url(../image/sub-shadow.png) no-repeat top;
}
h1 {
font-size: 19px;
line-height: 30px;
font-family: Arial;
margin: 0px;
padding: 0px;
font-weight: bold;
}
h2 {
font-size: 16px;
line-height: 26px;
font-family: Arial;
margin: 0px;
padding: 0px;
font-weight: bold;
}
h3 {
font-size: 16px;
line-height: 26px;
font-family: Arial;
margin: 0px;
padding: 0px;
font-weight: bold;
}
h4 {
font-size: 14px;
margin: 0px;
font-weight: bold;
font-family: Arial;
line-height: 24px;
}
#menu {
width: 960px;
margin: 0pt auto;
}







.cTable .result {
background-color: #FDFFD9;
text-align: left;
padding: 0px 10px;
}
.cTable .result IMG {
background-color: #FDFFD9;
border: 1px solid #EDB918;
}


.cTable TFOOT TD, .sTable TFOOT TD {
line-height: 36px;
height: 36px;
background-color: #F2F6F9;
border: 0px;
}
.cTable, .sTable {
width: 100%;
border-collapse: collapse;
}
.cTable th, .sTable th {
height: 36px;
text-align: left;
font-size: 12px;
background-color: #D7E2E8;
padding: 0px;
}
.cTable .tl {
background: url('../image/ct_tl.gif') no-repeat;
width: 37px;
background-color: #D7E2E8;
}
.cTable .tr {
background-color: #D7E2E8;
background: url(../image/ct_tr.gif) no-repeat;
width: 37px;
}
.cTable .c, .sTable .c {
text-align: center;
}
.cTable td, .sTable td {
text-align: center;
height: 36px;
border-bottom: 1px solid #DBE5EA;
padding: 0px;
}
.cTable .l, .sTable .l {
text-align: left;
}
.cTable .empty {
height: 80px;
}
.sTable .empty {
height: 80px;
line-height: 18px;
}
.sTable th {
height: 30px;
}
.sTable .tl {
background: url('../image/st_tl.gif') no-repeat;
width: 20px;
}
.sTable .tr {
background: url('../image/st_tr.gif') no-repeat;
width: 20px;
}
.sTable td {
height: 30px;
}
.sTable TFOOT TD {
height: 30px;
font-size: 10px;
line-height: 30px;
}
.sTable TFOOT A {
color: #444;
}









#menu .button {
float: right;
margin: 5px 13px 0 0;
}
#menu .logo {
	float:left;
	margin-bottom:14px;
	padding:10px 0 0 5px;
}
#menu .mm {
float: right;
}
#menu .mm {
float: right;
}
.form {
background-color: #F2F6F9;
border: 1px solid #D0D9E0;
padding: 16px;
}
.form .i, .form .formBoxInner .sml {
background-color: #F7F9FB;
border: 1px solid #D0D9E0;
width: 445px;
padding: 4px;
}
.fieldWithErrors input {
	border:1px solid red!important;
}

.errorExplanation p {
	font-size:13px;
	margin:5px;
}
.errorExplanation ul {
	margin-left:20px;
	color:red;
	font-size:13px;
}
.form .formBoxInner .sml {
width: 212px;
}

.form .formBoxInner textarea.sml {
width: 446px;
font-size:12px;
line-height:12px;
}

.form .formBoxInner .div {
width: 233px;
float: left;
}
.cf {
clear: both;
margin: 0px;
padding: 0px;
}
.form SELECT {
background-color: #F7F9FB;
border: 1px solid #D0D9E0;
padding: 4px;
}
.form TEXTAREA {
background-color: #F7F9FB;
border: 1px solid #D0D9E0;
width: 0px;
padding: 4px;
font-size: 11px;
}
.formBox {
border: 1px solid #D0D9E0;
background-color: #FFF;
margin-bottom: 10px;
}
.formBoxInner {
padding: 16px;
}
.formFoot {
background-color: #EBF1E5;
padding: 4px 16px 8px;
}
.formBox H3 {
color:#8699A5;
font-size: 15px;
font-family: arial;
font-weight: bold;
}
.formBox HR {
background-color: #D1D9E0;
color: #D1D9E0;
border: 0;
height: 1px;
margin: 15px 0px;
}
.formContLeft {
width: 625px;
float: left;
}
.formContRight {
width: 230px;
float: right;
}
.formContRight .select {
width: 185px;
background-color: #F7F9FB;
border: 1px solid #D0D9E0;
margin: 10px 0px 4px;
}
.formHead {
font-size: 15px;
font-family: arial;
font-weight: bold;
}
.formFootList {
padding: 0px;
margin: 0px;
}
.formFootList LI {
list-style-type: none;
display: inline;
}
.formFootList .div {
margin: 0px 0px 0px 8px;
}
.formFootList INPUT[type="checkbox"] {
margin: 4px 4px 0px 0px;
}
.formErra, .formErr {
color: #D00;
font-weight: bold;
line-height: 18px;
padding: 0px 0px 0px 24px;
background: url(../image/ico_err.gif) no-repeat 0px 00px;
}


.pTabOn, .pTab {
background: url('../image/pTabOn.gif') no-repeat;
width: 130px;
height: 28px;
float: left;
margin: 5px 5px 0px 0px;
text-align: center;
}
.pTab {
background: url('../image/pTab.gif') no-repeat;
}
.pTabOn A, .pTab A {
display: block;
padding: 7px 0px;
text-decoration: none;
color: #444;
}
.pTabOn A {
font-weight: bold;
}
.pTabFoot {
border-top: 1px solid #C3D2DA;
}




/*Main Menu*/
.rhm1-bg3 {
	float:right;
	margin-left:7px;
	margin-top:59px;
	width:600px;
}
.rhm1-bg3 ul {
float: right;
padding-right: 30px;
list-style: none;
margin: 0;
}
.rhm1-bg3 li {
float: left;
list-style: none;
}
.rhm1-bg3 li a {
margin-left: 3px;
float: left;
display: block;
padding: 0 0 3px 12px;
cursor: pointer;
text-align: center;
font-size: 13px;
font-weight: bold;
font-family: Arial;
color: #555;
text-decoration: none;
line-height: 33px;
}
.rhm1-bg3 li a span {
height: 33px;
float: left;
display: block;
padding: 5px 15px 0 5px;
}
.rhm1-bg3 li a {
height: 35px;
background: url(../image/main-menu-left.png) no-repeat  left 1px;
}
.rhm1-bg3 li a span {
background: url(../image/main-menu-right.png) no-repeat  right 1px;
}
.rhm1-bg3 li a:hover {
background: url(../image/main-menu-left-h.png) no-repeat  left 1px;
}
.rhm1-bg3 li a:hover span {
background: url(../image/main-menu-right-h.png) no-repeat  right 1px;
}
.rhm1-bg3 li .current {
background: url(../image/main-menu-left-h.png) no-repeat  left 1px;
}
.rhm1-bg3 li .current span {
background: url(../image/main-menu-right-h.png) no-repeat  right 1px;
}
/*Main Menu*/
/*List WOrds*/
#box-table-a {
font-size: 16px;
text-align: left;
border-collapse: collapse;
width: 100%;
}
#box-table-a span {
color: #999999;
font-size: 12px;
}
#box-table-a .positive {
background: url(../image/positive.png) no-repeat right;
}
#box-table-a .notr {
background: url(../image/notr.png) no-repeat right;
}
#box-table-a .negative {
background: url(../image/negative.png) no-repeat right;
}
.s-positive {
height: 20px;
width: 20px;
background: url(../image/s-positive.png) no-repeat right;
}
.s-notr {
height: 20px;
width: 20px;
background: url(../image/s-notr.png) no-repeat right;
}
.s-negative {
height: 20px;
width: 20px;
background: url(../image/s-negative.png) no-repeat right;
}
#box-table-a th {
font-size: 13px;
font-weight: normal;
padding: 8px;
background: #7B8F9B;
color: #fff;
font-weight: bold;
}
#box-table-a th div a {
color: #FFFFFF;
text-decoration: underline;
display: block;
}
#box-table-a .bg-2 td {
background: #F2F6F9;
}
#box-table-a .bg-1 td {
background: #FFFFFF;
}
#box-table-a .bg-1 td,#box-table-a .bg-2 td {
line-height: 20px;
padding: 8px;
color: #669;
border: 1px dashed #C3D2DA;
}
#box-table-a tr:hover td {
background: #D7E2E8;
color: #339;
}


#box-table-b {
font-size: 12px;
margin: 45px;
width: 480px;
text-align: center;
}
#box-table-b th {
font-size: 13px;
font-weight: normal;
padding: 8px;
background: #e8edff;
color: #039;
}
#box-table-b td {
padding: 8px;
background: #e8edff;
color: #669;
}
.down-arrow {
background: url(../image/down-arrow.png) no-repeat left;
}
.up-arrow {
background: url(../image/up-arrow.png) no-repeat left;
}
.up-arrow a, .down-arrow a {
color: #FFFFFF;
padding-left: 20px;
text-decoration: underline;
}
/*List Words*/
img {
border: 0px;
}
A {
outline: 0;
color: #4970D5;
}
p {
margin: 0px;
padding: 0px;
line-height: 18px;
}
form {
margin: 0px;
padding: 0px;
}
#btm {
background: url(../image/bg_btm.gif) no-repeat;
height: 30px;
}
#stage {
padding: 10px 15px 5px 15px;
clear: both;
}


#top {
}
#top .sm {
background: url('../image/smB.gif') repeat-x;
height: 28px;
float: left;
}
#top .sm UL {
margin: 0px;
padding: 0px;
}
.smL, .smR {
background: url('../image/smL.gif') no-repeat;
float: left;
width: 12px;
height: 28px;
}

.x1Top {
background: url(../image/x1Top.gif) no-repeat;
height: 7px;
}
.x1Bg {
background: url(../image/chartbg.gif) repeat-y right;
}
.x1Left {
float: left;
}
.x1PadLeft {
padding: 10px 10px 10px 10px;
}
.x1Right {
float: right;
width: 290px;
padding: 5px 0 0 0;
}
.x1PadRight {
padding: 20px 0px 20px 15px;
}
.x1Btm {
background: url(../image/x1Btm.gif) no-repeat;
height: 7px;
}

/*sayfala*/
p.paging {
text-align: right;
padding: 4px 0 2px 0;
margin: 5px 0 5px 0;
font-size: 11px;
clear: both;
}
p.paging a,
p.paging a {
background-color: #fafafa;
border: 1px solid #eee;
padding: 1px 4px;
color: #777;
text-decoration: none;
}
p.paging a:hover,
p.paging strong {
background-color: #ff4b38;
border: 1px #c70010 solid;
padding: 1px 4px;
color: #fff;
}
/*sayfalama son*/
/*uyarilar*/
div.error,
div.success,
div.info,
div.warning,
div.secure,
div.unavailable,
div.attention,
div.tip {
clear: both;
padding: 10px 20px 10px 40px;
margin: 10px 0px 15px 0px;
color: #000;
background-repeat: no-repeat;
background-position: 9px 7px;
position: relative;
line-height: 1.5em;
font-size: 12px;
font-family: Lucida Grande, Arial, sans-serif;
}
	.infos {
background-color: #E6F2F8;
padding: 10px;
margin: 10px 0 10px 0;
list-style: none;
}
	.infos li a {
background: url(../image/tag_blue2.png) no-repeat left;
padding-left: 25px;
color: #333333;
text-decoration: none;
}
	.infos li a:hover {
text-decoration: underline;
}
	div.info {
background-color: #E5EFFF;
background-image: url(../image/status_icon_info.png);
}
	div.success {
background-color: #E5F4E5;
background-image: url(../image/status_icon_succes.png);
}
	div.warning {
background-color: #FFECCC;
background-image: url(../image/status_icon_warning.png);
}
	div.error {
background-color: #FFD9D9;
background-image: url(../image/status_icon_error.png);
}
	div.tip {
background-color: #FFF5BD;
background-image: url(../image/status_icon_tip.png);
background-position: 0 0;
padding: 15px 10px 15px 43px;
}

	div.unavailable {
background-image: url(../image/unavailable_icon.gif);
background-color: #edf4f8;
color: #294b6e;
}
	div.attention {
background: #ffffe9 url(../image/attention_bg.gif) repeat-x;
background-position: top left;
border: 1px solid #ecda6e;
color: #3b3615;
padding-left: 15px;
}
	div.addintro {
background-image: url(../image/intro_icon.gif);
}
	div.secure {
background-image: url(../image/secure_icon.gif);
background-color: #f3f3f3;
color: #333;
}
		
.tab4 {
background: url(../image/tab4-bg.png) no-repeat;
height: 40px;
}
.tab4 ul {
list-style: none;
margin: 0 0 0 6px;
padding: 0;
}
.tab4 ul li {
list-style: none;
float: left;
margin: 0 6px 0 6px;
line-height: 24px;
height: 36px;
}
.tab4 ul .current {
background: url(../image/tab4-current.gif) no-repeat center bottom;
font-weight: bold;
}
.tab4 a {
color: #444;
text-decoration: none;
}
.tab4 ul li a:hover {
text-decoration: underline;
}

.basicinfo {
list-style: none;
line-height: 20px;
margin: 0;
padding: 0;
}
/*Home*/
.home-top {
height: 245px;
width: 930px;
}
.home-mid {
height:406px;
}
.hnumber {
float: left;
color: #333333;
font-size: 24px;
line-height: 24px;
}
.hcontent {
float: right;
width: 255px;
}
.hnegative {
background: url(../image/s-negative.png) no-repeat right;
}
.hpositive {
background: url(../image/s-positive.png) no-repeat right;
}
.hnotr {
background: url(../image/s-notr.png) no-repeat right;
}
.home-d {
margin: 12px 0 0 0;
}
.home-info-l {
	margin: 0;
	padding: 0;
	float: right;
	width: 500px;
}

.home-info-l h3 {
font-size:18px;
margin-bottom:10px;
}

.home-d .h3_title {
	font-size:18px;
	margin-bottom:10px;
}
.home-info-l ul {
list-style: none;
margin: 0;
padding: 0;
float: right;
width: 500px;
border: #CCCCCC 1px dashed;
}
.home-info-l ul li {
	height:100px;
	line-height:14px;
	padding:10px 5px 5px;
}

.home-info-l ul li .rcd-content {
	padding-left:100px;
}
.home-info-l a {
text-decoration: none;
color: #444;
display: block;
}
.home-info-l a:hover {
text-decoration: underline;
}

.strom {
background: #F2F6F9;
}
.home-d h3 {
line-height: 18px;
font-size: 12px;
}
.home-info-l ul li:hover {
background: #D0E5F5;
}
.home-anayz, .home-export, .home-real, .home-resources, .home-time, .home-visibility {
padding: 0 0 0 55px;
height: 75px;
}
.home-info-l li img {
	float:left;
	height:80px;
	margin-top:20px;
	width:80px;
	border:1px solid #CCCCCC;
}

.home-info {
background: url(../image/bg-homeinfo.png) no-repeat;
float: left;
width: 375px;
padding: 20px;
}
.home-info h3 {
font-size: 18px;
margin-bottom: 10px;
}

.home-info-ul {
list-style: none;
margin: 10px 0 0 0;
padding: 0;
}
.home-info-ul li {
height: 30px;
line-height: 30px;
font-weight: bold;
background: url(../image/homeinfook.png) no-repeat left;
padding: 0 0 0 35px;
}
.nodata {
height: 100px;
text-align: center;
padding-top: 100px;
font-style: italic;
font-size: 16px;
}
	#container {
margin: 0 auto;
position: relative;
text-align: left;
width: 910px;
background: #fff;
margin-bottom: 2em;
}
			


.payleft {
float: left;
width: 140px;
}
.formBoxInner h4 {
margin-bottom: 7px;
font-size: 12px;
}
.formBoxInner .i {
width: 400px;
clear: both;
}
.payright {
float: right;
width: 420px;
}
.formBoxInner INPUT {
margin-bottom: 10px;
padding: 2px;
font-size: 12px;
height: 16px;
line-height: 12px;
}
.formBoxInner SELECT {
margin-bottom: 10px;
}
.edit {
background: url(../image/manage.png) no-repeat left;
text-align: right;
}
.delete {
background: url(../image/delete.png) no-repeat left;
}
.edit a,.delete a {
color: #666666;
}
.profile {
margin: 0;
padding: 0;
list-style: none;
border-top: 1px solid #E8E8E8;
}
.profile li {
padding: 6px;
margin: 0;
border: 0;
border-bottom: 1px solid #E8E8E8;
line-height: 19px;
}
.profile .im {
float: left;
width: 297px;
border-right: 1px solid #E8E8E8;
}
.profile .imc {
float: left;
width: 190px;
border-right: 1px solid #E8E8E8;
}
.profile .imi {
border-right: 0;
}
.profile li a {
text-decoration: none;
color: #444;
}
.profile li span {
color: #999999;
}
.profile li a:hover {
text-decoration: underline;
}
.profile li:hover {
background: #F7F7F7;
}
.x1Right IMG {
margin: 5px 10px 10px 10px;
}
.fixxli {
width: 900px;
}
.login-button {
background: url(../image/button/login.png) no-repeat;
border: 0;
}
.paypal-button {
background: url(../image/button/paypalbutton.gif) no-repeat;
border: 0;
cursor: pointer;
margin-top: 10px;
}
.prog {
background: #FFFFFF;
border: 1px solid #9BC7DA;
margin-top: 4px;
}
.prog_ust {
color: #5AB1D7;
font-weight: bold;
}
.statsul {
margin: 5px 0 10px 0;
width: 360px;
float: left;
}
.statsul ul {
list-style: none;
margin: 0;
padding: 0;
}
.statsul li {
font-size: 14px;
padding: 2px 2px 2px 2px;
}
.statsul li a {
color: #333333;
text-decoration: none;
}
.statsul li a:hover {
background: #333333;
color: #FFFFFF;
}
.faq_h {
display: none;
}
.faq_o {
display: block;
padding-left: 25px;
margin-bottom: 13px;
}
.faq a {
color: #245183;
}
.l_plus, .l_eksi {
font-size: 14px;
font-weight: bold;
padding-left: 23px;
line-height: 20px;
margin-bottom: 3px;
}
.faq a .l_plus {
background: url(../image/arti.png) no-repeat left;
}
.faq a .l_eksi {
background: url(../image/eksi.png) no-repeat left;
}
#new_form .signup-button {
width: 82px;
height: 25px;	
background: url(../image/button/signup.png) no-repeat;
cursor: pointer;
border: 0;
}
.addtocart-button {
background: url(../image/button/addtocart.png) no-repeat;
cursor: pointer;
border: 0;
}
.imp {
text-align: left;
font-weight: bold;
color: #FA7979;
}
#cloud ul {
list-style: none;
margin: 0 auto;
padding: 0;
}
#cloud li {
float: left;
font-weight: bold;
line-height: 30px;
margin: 5px;
}
#cloud li a {
cursor: pointer;
color: #fff;
text-decoration: none;
float: left;
display: block;
padding: 0 0 3px 5px;
text-align: left;
}
#cloud li a span {
float: left;
display: block;
padding: 0 10px 0 3px;
}
#cloud .cpositive a {
background: url(../image/cloud-L-g.jpg) no-repeat;
}
#cloud .cpositive a span {
background: url(../image/cloud-R-g.jpg) no-repeat right 0;
}

#cloud .cnotr a {
background: url(../image/cloud-L-b.jpg) no-repeat;
}
#cloud .cnotr a span {
background: url(../image/cloud-R-b.jpg) no-repeat right 0;
}

#cloud .cnegative a {
background: url(../image/cloud-L-k.jpg) no-repeat;
}
#cloud .cnegative a span {
background: url(../image/cloud-R-k.jpg) no-repeat right 0;
}
#cloud li a:hover {
text-decoration: underline;
}
#cloud li a:hover span {
text-decoration: underline;
}
.butOpts {
margin: 0;
padding: 0;
list-style: none;
clear: both;
display: block;
}
.butOpts li {
float: left;
}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
* {
padding: 0;
margin: 0;
}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
font: 12px Arial, Helvetica, sans-serif;
color: #333333;
}

#TB_secondLine {
font: 10px Arial, Helvetica, sans-serif;
color: #666666;
}

#TB_window a:link {
color: #666666;
}
#TB_window a:visited {
color: #666666;
}
#TB_window a:hover {
color: #000;
}
#TB_window a:active {
color: #666666;
}
#TB_window a:focus {
color: #666666;
}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
position: fixed;
z-index: 100;
top: 0px;
left: 0px;
height: 100%;
width: 100%;
}

.TB_overlayMacFFBGHack {
background: url(macFFBgHack.png) repeat;
}
.TB_overlayBG {
background-color: #000;
filter: alpha(opacity=35);
-moz-opacity: 0.35;
opacity: 0.35;
}

* html #TB_overlay {/* ie6 hack */
     position: absolute;
height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
position: fixed;
background: #ffffff;
z-index: 102;
color: #000000;
display: none;
border: 4px solid #525252;
text-align: left;
top: 50%;
left: 50%;
}

* html #TB_window {/* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
display: block;
margin: 15px 0 0 15px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-top: 1px solid #666;
border-left: 1px solid #666;
}

#TB_caption {
height: 25px;
padding: 7px 30px 10px 25px;
float: left;
}

#TB_closeWindow {
height: 25px;
padding: 11px 25px 10px 0;
float: right;
}

#TB_closeAjaxWindow {
padding: 7px 10px 5px 0;
margin-bottom: 1px;
text-align: right;
float: right;
}

#TB_ajaxWindowTitle {
float: left;
padding: 7px 0 5px 10px;
margin-bottom: 1px;
}

#TB_title {
background-color: #e8e8e8;
height: 27px;
}

#TB_ajaxContent {
clear: both;
padding: 2px 15px 15px 15px;
overflow: auto;
text-align: left;
line-height: 1.4em;
}

#TB_ajaxContent.TB_modal {
padding: 15px;
}

#TB_ajaxContent p {
padding: 5px 0px 5px 0px;
}

#TB_load {
position: fixed;
display: none;
height: 13px;
width: 208px;
z-index: 103;
top: 50%;
left: 50%;
margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load {/* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect {
z-index: 99;
position: fixed;
top: 0;
left: 0;
background-color: #fff;
border: none;
filter: alpha(opacity=0);
-moz-opacity: 0;
opacity: 0;
height: 100%;
width: 100%;
}

* html #TB_HideSelect {/* ie6 hack */
     position: absolute;
height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent {
clear: both;
border: none;
margin-bottom: -1px;
margin-top: 1px;
_margin-bottom: 1px;
}
.datebox {
list-style: none;
padding: 0 0 10px 0;
}
.datebox li {
float: left;
padding: 5px;
border: #C3D2DA solid 1px;
font-size: 12px;
margin-left: 10px;
}
.datebox .current {
font-weight: bold;
background: #F1F5F8;
}
.datebox li a {
text-decoration: none;
color: #444;
}
.datebox li a:hover {
text-decoration: underline;
}
.listcount {
font-size: 24px;
font-weight: bold;
color: #444;
}
