<div class="home-mid">
	<div class="home-d">
		<div class="home-info">
			<h3 class="h3_title">
				What can you do here?
			</h3>Everyone knows that we are in financial crisis. Some people may think it's too bad. But don't you think it's a great chance to start your career? Seize this chance, seize today, conceive your great idea during the crisis, and you will harvest success after we go through the hard time.
			<ul class="home-info-ul">
				<li>Continuous Aspiration
				</li>
				<li>Share Your Idea
				</li>
				<li>Discussion With Others
				</li>
				<li>Project Management
				</li>
				<li>Project Document
				</li>
				<li>SCM history
				</li>
			</ul>
		</div>
		<div class="home-info-l">
			<h3 class="h3_title">
				Recommend Projects
			</h3>
			<ul>
				<li>
					<img src="http://www.googlelabs.com/show_app_thumbnail?app_key=agtnbGFiczIwLXd3d3ITCxIMTGFic0FwcE1vZGVsGLIxDA" />
					<div class="rcd-content">
						<h3>
							Google News Timeline
						</h3>A web application that organizes information chronologically. Google News Timeline allows users to view news, scanned newspapers and magazines, blog posts, sports scores, and more on a zoomable, graphical timeline.
					</div>
				</li>
				<li>
					<img src="http://www.googlelabs.com/show_app_thumbnail?app_key=agtnbGFiczIwLXd3d3ITCxIMTGFic0FwcE1vZGVsGK4xDA" />
					<div class="rcd-content">
						<h3>
							Similar Images
						</h3>Search for images using pictures rather than words. Similar images helps you finding images that are visually similar to an existing result.
					</div>
				</li>
				<li>
					<img src="http://www.googlelabs.com/show_app_thumbnail?app_key=agtnbGFiczIwLXd3d3IUCxIMTGFic0FwcE1vZGVsGKiSDQw" />
					<div class="rcd-content">
						<h3>
							Chrome Experiments
						</h3>A showcase of cool experiments for both JavaScript and web browsers created by designers around the world.
					</div>
				</li>
			</ul>
		</div>
		<div class="cfix"></div>
	</div>
</div>
