<table class="cTable">
	<thead>
		<tr>
			<th class="tl"></th>
			<th colspan="4">
				<div class="DD3">
					<a href="projects.html">Projects</a> &gt; <span><%= name %></span>
				</div>
			</th>
			<th class="tr"></th>
		</tr>
	</thead>
</table>