<%= render :partial =>'breadcrumbs', :locals => {:name => 'csstheme'} %>
		<div style="border-top: 1px solid #FFF;">
			<div class="pTabOn">
				<a href="http://www.hyperpot.com/detail/csstheme/">Deshbord</a>
			</div>
			<div class="pTab">
				<a href="http://www.hyperpot.com/detail/csstheme/traffic">Developers</a>
			</div>
			<div class="pTab">
				<a href="http://www.hyperpot.com/detail/csstheme/trend">Wiki</a>
			</div>
			<div class="pTab">
				<a href="http://www.hyperpot.com/detail/csstheme/location">Issue</a>
			</div>
			<div class="pTab">
				<a href="http://www.hyperpot.com/detail/csstheme/analogy">Source</a>
			</div>
			<div class="pTab">
				<a href="http://www.hyperpot.com/detail/csstheme/multimedia">Discussion</a>
			</div>
			<p class="cf"></p>
			<div class="pTabFoot"></div>
			<div class="x1Top"></div>
			<div class="x1Bg">
				<div class="x1Left" style="width:640px">
					<div class="x1PadLeft">
						<ul class="profile">
							<li>
								<b>Project Name :</b> csstheme
							</li>
							<li>
								<b>Description:</b> Download free standards compliant CSS templates.
							</li>
							<li class="im">
								<b>Leader:</b> <a>allen</a>
							</li>
							<li class="im imi">
								<b>Tag:</b><a>java</a>,<a>web</a>
							</li>
							<li class="im">
								<div class="hnegative">
									<b>Hyperscore:</b> 489/1000 <span>(493/1000)</span>
								</div>
							</li>
							<li class="im imi">
								<div class="hnegative">
									<b>Visibilityrank:</b> %32.25 <span>(%33.25)</span>
								</div>
							</li>
							<li class="im">
								<div class="hnotr">
									<b>Pagerank:</b> 8/10 <span>(8/10)</span>
								</div>
							</li>
							<li class="im imi">
								<div class="hpositive">
									<b>Traffic Rank:</b> 10,871 <span>(10,855)</span>
								</div>
							</li>
							<li class="imc">
								<h3>
									<a href="http://www.freecsstemplates.org/" target="_blank">Go Site</a>
								</h3>
							</li>
							<li class="imc">
								<h3>
									<a href="http://www.hyperpot.com/rss/">Rss</a>
								</h3>
							</li>
							<li class="imc imi">
								<h3>
									<a href="http://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', 'http://www.freecsstemplates.org/', 'Download free CSS templates - Free CSS Templates')" onmouseout="addthis_close()" onclick="return addthis_sendto()" style="text-decoration:none;">Add This</a>
								</h3>
							</li>
						</ul>
					</div>
				</div>
				<div class="x1Right">
					<img src="http://www.googlelabs.com/show_app_thumbnail?app_key=agtnbGFiczIwLXd3d3ITCxIMTGFic0FwcE1vZGVsGLIxDA" alt="csstheme" width="250" height="185">
				</div>
				<p class="cf"></p>
			</div>
		</div>

