
		<div class="boxONE">
			<div class="fbox">
				<ul>
					<li style="list-style: none">
						<h2>
							Newsletter
						</h2>
					</li>
					<li>
						<div class="dimmed">
							Subscribe to our newsletters to get latest news about us.
						</div><!--
Do not modify the NAME value of any of the INPUT fields
the FORM action, or any of the hidden fields (eg. input type=hidden).
These are all required for this form to function correctly.
-->
						<form method="post" action="http://www.rhxo.com/mailup/form.php?form=2" id="frmSS2" onsubmit="return CheckForm2(this);">
							<table border="0">
								<tr>
									<td>
										<span class="dimmed">E-mail:</span>
									</td>
									<td>
										<input type="text" name="email" value="" style="width:100px" /> <input type="hidden" name="format" value="h" />
									</td>
								</tr>
								<tr>
									<td></td>
									<td>
										<input type="submit" class="btn" value="" /><br />
									</td>
								</tr>
							</table>
						</form>
					</li>
					<li style="width:89px;float:left;border-right:1px solid #E8E8E8;">
						<div class="rss">
							<a href="rss">RSS</a>
						</div>
					</li>
					<li style="width:90px;float:left;">
						<div class="addthis">
							<a href="http://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', 'http://www.hyperpot.com/', 'Instant Hyperlink Tool')" onmouseout="addthis_close()" onclick="return addthis_sendto()" style="text-decoration:none;">Add This</a>
						</div>
					</li>
					<li style="width:190px;float:left;">
						<div class="twitter">
							<a href="http://www.twitter.com/hyperpot">Follow on Twitter</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="fbox">
				<h2>
					Recent Added Projects
				</h2>
				<ul>
					<li>
						<a href="detail/foto">foto</a><span>http://www.melofoto.com/fotos...</span>
					</li>
					<li>
						<a href="detail/fotobuch">fotobuch</a><span>http://www.melofoto.com/fotob...</span>
					</li>
					<li>
						<a href="detail/fotokalender">fotokalender</a><span>http://www.melofoto.com/fotok...</span>
					</li>
					<li>
						<a href="detail/credit">credit</a><span>http://www.getafreecreditcard...</span>
					</li>
				</ul>
			</div>
			<div class="fbox">
				<h2>
					Recent Added Developer
				</h2>
				<ul>
					<li>
						<a href="detail/joomla">joomla</a><span>http://www.toolboxcreations.c...</span>
					</li>
					<li>
						<a href="detail/vector">vector</a><span>http://clipartandfonts.com/</span>
					</li>
					<li>
						<a href="detail/flashden">flashden</a><span>http://www.flashden.net</span>
					</li>
					<li>
						<a href="detail/design">design</a><span>http://www.nywebteam.com</span>
					</li>
				</ul>
			</div>
			<div class="fbox" style="width:285px;">
				<h2>
					Menu
				</h2>
				<ul>
					<li style="width:132px;float:left;border-right:1px solid #E8E8E8;">
						<a href="about">About</a>
					</li>
					<li style="width:132px;float:left;">
						<a href="contact">Contact</a>
					</li>
					<li style="width:132px;float:left;border-right:1px solid #E8E8E8;">
						<a href="faq">Faq</a>
					</li>
					<li style="width:132px;float:left;">
						<a href="stats">Stats</a>
					</li>
					<li style="width:132px;float:left;border-right:1px solid #E8E8E8;">
						<a href="press">Press</a>
					</li>
					<li style="width:132px;float:left;">
						<a href="resources">Resources</a>
					</li>
					<li style="width:132px;float:left;border-right:1px solid #E8E8E8;">
						<a href="tools">Tools</a>
					</li>
					<li style="width:132px;float:left;">
						<a href="blog/index.html">Blog</a>
					</li>
					<li style="width:132px;float:left;border-right:1px solid #E8E8E8;">
						<a href="index.html#">SiteMap</a>
					</li>
					<li style="width:132px;float:left;">
						<a href="term-of-use">Term of use</a>
					</li>
					<li style="width:132px;float:left;border-right:1px solid #E8E8E8;">
						<a href="login"><b>Login</b></a>
					</li>
					<li style="width:132px;float:left;">
						<a href="signup"><b>Signup</b></a>
					</li>
				</ul>
			</div>
			<div class="cfix"></div>
		</div>