
		<div class="boxSUB"></div>
		<div class="boxTOP">
			<div style="float:left;">
				Copyright ©2009 Finalist.cn<br />
				Powered by <a href="http://allenwei.javaeye.com">allen.wei</a>
			</div>
			<div class="cfix"></div>
		</div>
		<div class="boxSUB" style="margin-bottom:15px;"></div>