	<div id="menu">
		<div class="logo">
			<a href="index.html"><img src="/image/hyperpot_logo2.png" alt="HyperPot V2 Logo" border="0" /></a>
		</div><!-- uST mENU-->
		<div class="rhm1-bg3">
			<ul>
				<li>
					<a class="current" href="/index"><span>Home</span></a>
				</li>
				<li>
					<a href="/projects"><span>Projects</span></a>
				</li>
				<li>
					<a href="/suggestionBox"><span>suggestionBox</span></a>
				</li>
				<li>
					<a href="/about"><span>about</span></a>
				</li>
			</ul>
		</div><!-- uST mENU-->
		<div class="cfix"></div>
	</div>